@import "tailwindcss";

:root {
  --sfondo-panna: #faf8f5;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--sfondo-panna);
  font-weight: 400;
}

.project-thumbnails {
  scrollbar-width: none;
}

.project-thumbnails::-webkit-scrollbar {
  display: none;
}
